.col-md-6{
    border: 2px solid black;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    margin-left: 270px;
    background-color: gray;
}
form{
    margin-top: 20px;
}
.container{
    margin-top: 30px;
}
.l1{
    text-align: right;
}