.nav{
    background-color: black;
}
.nav ul li a{
    color: white;
}
.nav-item{
    color: white;
    font-size: 18px;
}
.nav-link{
    color: white;
    padding-left: 40px;
}
body{
    background-color: darkgray;
}