.table{
    width: 1200px;
    height: 900px;
    border: 2px solid black;
    background-color: gray;

}
.table tr,td{
    border: 2px solid black;
}
/* .btn{
    background-color: orange;
} */
.container{
    padding-top: 50px;
}
.table{
    font-size: 20px;
}
.col-md-10{
    padding-top: 0px;
    margin-top: 0px;
}